:host {
  min-width: 24rem;
  margin-bottom: 2rem;
}

.min-max-container {
  min-height: 1.5rem;
}

.device-background-indicator {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  color: #fff;
}

.device-background-indicator--Alarm {
  background-color: #dc3545;
}

.device-background-indicator--NoData {
  background-color: #6c757d;
}

.device-background-indicator--Ok {
  background-color: #007bff;
}
