<div class="col">
  <div class="card">
    <div
      class="card-body device-background-indicator device-background-indicator--{{
        deviceStatus
      }}"
    >
      <h6>{{ device.name }}</h6>
      <h6>{{ device.devui }}</h6>
      <h2 class="text-center">{{ deviceReading }}</h2>
      <div class="row min-max-container">
        <div class="col text-left">
          <span>{{ device.min }}</span>
        </div>
        <div class="col text-right">
          <span>{{ device.max }}</span>
        </div>
      </div>
    </div>
    <div class="card-footer text-left">
      <span
        (click)="showBatteryAndSignalIndicatorPopover()"
        class="clickable"
        #popoverTrigger
      >
        <dm-icon-info [color]="iconColor"></dm-icon-info>
      </span>
      <dm-popover [popoverTrigger]="popoverTrigger">
        <div class="mb-2 pb-2 border-bottom">
          <h5>
            Battery level:
            <span [style.color]="deviceBatteryLevelTextColor"
              >{{ device.batteryLevel }}%</span
            >
          </h5>
        </div>
        <div>
          <h5>
            Signal strength:
            <span [style.color]="signalStrengthTextColor">{{
              device.signalStrength
            }}</span>
          </h5>
        </div>
      </dm-popover>
    </div>
  </div>
</div>
