<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="devui">Devui <span class="text-danger">*</span></label>
    <input
      type="text"
      class="form-control"
      pattern="#+([a-fA-F0-9]{6})$"
      placeholder="Hex pattern, e.g. #44dd11 or #cb74ae"
      id="devui"
      formControlName="devui"
      required
    />
    <!-- <div class="invalid-feedback-message">Please fill out this field.</div> -->
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label for="min">Min</label>
        <input
          type="number"
          class="form-control"
          id="min"
          formControlName="min"
        />
      </div>
      <div class="col">
        <label for="max">Max</label>
        <input
          type="number"
          class="form-control"
          id="max"
          formControlName="max"
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Name <span class="text-danger">*</span></label>
    <input
      type="text"
      class="form-control"
      id="name"
      formControlName="name"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!deviceForm.valid">
    Add device
  </button>
</form>
